@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

/* OVERLAY ENTRADA TIPO NIKE */
@keyframes overlay-in {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  70% {
    transform: translateY(8px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-overlay {
  animation: overlay-in 0.45s cubic-bezier(0.22, 1, 0.36, 1);
}


@keyframes overlay-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.animate-overlay-out {
  animation: overlay-out 0.25s ease-in forwards;
}

/* SEARCH BAR */
@keyframes search-in {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-search {
  animation: search-in 0.25s ease-out;
}

/* CONTENT (RESULTADOS) */
@keyframes content-in {
  from {
    transform: translateY(12px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-content {
  animation: content-in 0.3s ease-out;
  animation-fill-mode: both;
}
 





.swal2-popup {
  font-family: inherit;
}

.swal2-luxury-input {
  height: 52px !important;
  border-radius: 14px !important;
  border: 1px solid #dcdcdc !important;
  box-shadow: none !important;
  font-size: 14px !important;
  padding-left: 14px !important;
}

.swal2-luxury-input:focus {
  border: 1px solid #111 !important;
  box-shadow: 0 0 0 4px rgba(0,0,0,0.04) !important;
}

.swal2-confirm{
  box-shadow:none !important;
  border:none !important;
  outline:none !important;
  font-weight:600 !important;
  padding:12px 26px !important;
  border-radius:999px !important;
}

.swal2-cancel{
  box-shadow:none !important;
  border:none !important;
  outline:none !important;
  color:#444 !important;
  font-weight:500 !important;
  padding:12px 22px !important;
  border-radius:999px !important;
}
